<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpContextBinding>
                <binding name="NetTcpContextBinding_IWCFCalculator">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpContextBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/Server" binding="netTcpContextBinding"
                bindingConfiguration="NetTcpContextBinding_IWCFCalculator"
                contract="CalculatorService.IWCFCalculator" name="NetTcpContextBinding_IWCFCalculator">
                <identity>
                    <userPrincipalName value="YARIN\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>